[submodule "libchaos"]
	path = libchaos
	url = https://github.com/vortexcore2026/libchaos.git
	branch = patches/pok3r
[submodule "nlohmann_json"]
	path = nlohmann_json
	url = https://github.com/nlohmann/json
